# Java class files
*.class

# Build output folders
/build/
/bin/
/target/

# NetBeans specific
/nbproject/private/
/nbbuild/
/dist/
/.nb-gradle/

# Eclipse specific
/.classpath
/.project
/.settings/

# Logs
*.log

# OS junk files
.DS_Store
Thumbs.db

# Maven
/target/

# Gradle
.gradle/
/build/

# IntelliJ IDEA
/.idea/
/out/
